body {
  font-family: sans-serif, arial;
  background: gray;
}

h1{
  margin-left: 20px;
}

.list-group-item{
  width: 30%;
  float: left;
  text-align: center;
}

.card-body{
  height: 50%;
  width: 50%;
  margin: 0 auto;
}